node_modules/
reports/allure-report/
reports/results/*/*
!reports/results/*/.gitkeep
reports/reports/playwright-html/
executions/logs/*
!executions/logs/.gitkeep
builds/*
!builds/.gitkeep
test-results/
.env
dist/
*.log
.DS_Store
