.env
node_modules/
test-results/
playwright-report/
executions/*/
reports/results/*/*/
source/web/chrome/fixtures/created-data.xlsx
reports/allure/*/*/
source/web/chrome/fixtures/auth/
reports/excel_report/
